<!doctype html>
<html>

<script src="/socket.io.js"></script>
<script src="/jquery-1.11.1.js"></script>
<script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<link href="./bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">

<head>
    <title><%= title %></title>

    <style>

        /*form {width: 50%; margin:20% 30%; vertical-align: middle;position: fixed;}*/

        #formform {width: 300px; margin:0 auto; vertical-align: middle;position: fixed;}

    </style>

</head>
<body>

<div class="container">
    <div class="row" style="margin-top:300px;">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div>
                키워드와 이름을 입력해주세요<br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form id="loginForm" method="get" action="/chat">
                <input style="padding: 10px; width: 80%;" name="keyWord" id="keyWord" placeholder="keyWord"/>
                <input style="padding: 10px; width: 80%;" name="username" id="username" placeholder="username"/>
                <br>
                <button style="margin-top:10%; margin-left: 35%; padding : 10px"
                        id="login" class="btn btn-default">login</button>
            </form>
        </div>
    </div>
</div>


<script>

    <% if (login_fail) { %>
    alert("중복된 닉네임이 존재합니다.");
    <% } %>

    $(function () {

        $('#loginForm').submit(function() {
            if($('#keyWord').val() == '' || $('#username').val() == '')
                return false;
        });

    });

</script>

</body>
</html>
